.conImage img {
  border-radius: 1.875rem;
  border: 2px solid #65bb6f;
}
.intro{
  width: 190px;
  
  margin-inline: 12px;
  opacity: 1;
 
}
.intro p {
  line-height: 3rem;
  background: #85a88d;
  height: 3rem;
  border-radius: 0.3125rem;
  padding-inline: 4px;
  
}
.width-image{
  width: 190px;
}
.tex1,.tex2,.tex3{

  transform: translateY(-23px);
  opacity: 0;
  
}

@media screen and (max-width:556px) {
  .tex3{
    font-size: 15px;
  }
}