.conImage{
  width: 307px;
  top: -53px;
left: 7px;
  position: relative;
}
.boxshadow{
  width: 295px;
  height: 418px;
border-radius: 9px;
margin: 34px auto;
box-shadow: rgb(157, 157, 157) 0px 0px 30px -5px;
}