@font-face {
    font-family:"sans" ;
    src: url("./assets/font/Sans.ttf");
}
@font-face {
    font-family:"titer" ;
    src: url("./assets/font/2\ TITRBD.TTF");
}
body{
    background: #ECF0F3;
    font-family: "sans",sans-serif;
}
.titer{
    font-family: "titer",sans-serif;
}
a{
    text-decoration: none;
}
.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    font-size: 24px;
    color: #555;
  }
  